# =========================
# .NET / Backend
# =========================
bin/
obj/
*.user
*.suo
*.cache
*.dll
*.exe
*.pdb

# Visual Studio
.vs/

# Rider / IntelliJ
.idea/

# =========================
# React / Frontend
# =========================
node_modules/
dist/
dist-ssr/
build/
coverage/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Environment files
.env
.env.local
.env.*.local

# OS files
.DS_Store
Thumbs.db

# Editor settings
.vscode/*
!.vscode/extensions.json
